html,
body {
  margin: 0;
  padding: 0;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #444
}

body { width: 100%; }

#container {
    max-width: 650px;
	margin: 40px auto;
	padding: 0 10px;
}
#apploading {
    max-width: 650px;
    margin: 40px auto;
	padding: 0 10px;
}

#captcha {
    width: 408px;
    height: 280px;
    padding: 2px;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
}

#captcha-solved {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    text-shadow: 1px 1px 0px #0d1117;
    vertical-align: center;
    display: table;
    background: rgba(0,0,0, 0.35);
    text-align: center;
}

.overlay-text {
    display: table-cell;
    user-select: none;
    vertical-align: middle;
}

#captcha-background {
    width: 400px;
    height: 240px;
    margin: 0 auto;
    overflow: hidden;
}

#captcha-piece {
    width: 48px;
    height: 48px;
    filter: drop-shadow(0.15rem 0.15rem 0 rgba(0, 0, 0, 0.5));
}

.slidecontainer {
    width: 400px;
    margin: 0 auto;
}
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


h1,
h2,
h3 {
	line-height: 1.2
}

@media (prefers-color-scheme: dark) {
	body {
		color: #c9d1d9;
		background: #0d1117
	}

	a:link {
		color: #58a6ff
	}

	a:visited {
		color: #8e96f0
	}
}

* {
  box-sizing: border-box;
}

#loadingmodal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
}

#captchamodal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0.5);
}


.hidden {
    display: none !important;
}

.modal-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #23014488;
    padding: 10px;
    background: #fff;
}

.input-error{
    outline: 1px solid red;
}
  

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid rgb(109, 19, 213);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 