@page "/changepassword"
@inject UserDbService Users
<PageTitle>Change Password</PageTitle>

<h1>Change Password</h1>

<p>@statusmessage</p>
<p>
    <label>
        Username:
        <input @bind="username"/>
    </label>
</p>
<p>
    <label>
        Old Password:
        <input type="password" @bind="oldpassword"/>
    </label>
</p>
<p>
    <label>
        New Password:
        <input type="password" @bind="newpassword"/>
    </label>
</p>

<div class="@(spin ? "loader" : "")"></div>
<button class="btn btn-primary" @onclick="Submit">Change password</button>

@code {
    private string username = "";
    private string oldpassword = "";
    private string newpassword = "";
    private string statusmessage = "";
    private bool spin = false;

    private async Task Submit()
    {
        spin = true;
        if (await Users.ChangePassword(username, oldpassword, newpassword))
        {
            statusmessage = "Password changed successfully!";
        }
        else
        {
            statusmessage = "Incorrect username or password";
        }
        spin = false;
    }

}